@import "tailwindcss";

@theme {
  --color-figma-green: #4BAF47;      
  --color-figma-green-hover: #3D943A;
  
  --color-figma-bg: #F3F4F6;;        
  --color-figma-card: #FFFFFF;     
  
  --color-figma-title: #1F2937;      
  --color-figma-text: #6B7280;       
}

@layer base {
  body {
    background-color: var(--color-figma-bg);
    color: var(--color-figma-text);
  }
}