<nav class="navbar">
    <div class="nav-brand">
        <a href="/">Top Plant V2</a>
    </div>

    <ul class="nav-menu">
        <li class="nav-item dropdown">
            <span class="dropdown-toggle">
                Gerenciar ▾
            </span>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="/stock/">Gerenciar Estoque</a>
                </li>
                <li class="dropdown-item">
                    <a href="/client/">Gerenciar Clientes</a>
                </li>
                <li class="dropdown-item">
                    <a href="/product/">Gerenciar Produtos</a>
                </li>
                <li class="dropdown-item">
                    <a href="/order/">Gerenciar Pedidos</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="/login/">Entrar</a>
        </li>
    </ul>
</nav>